.app_violet_theme {
  --bg-color: #a504e7;
  --inverted-bg-color: #5d107e;
  --primary-color: #150C5A;
  --secondary-color: #F9F4FB;
  --inverted-primary-color: #F9F4FB;
  --inverted-secondary-color: #150C5A;

  // Skeleton
  --skeleton-shadow: #ffffff;
  --skeleton-color: rgba(0 0 0 / 20%);

  // Copy button
  --code-button-bg: #fff;

  // Card
  --card-bg: #9836c2;
}
