.button {
  background-color: orange;
  cursor: pointer;
  transition-duration: 0.3s;
  border: none;
  outline: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

  &:hover {
    background-color: darkorange;
  }

  &--small {
    padding: 8px;
  }

  &--medium {
    padding: 12px;
  }

  &--large {
    padding: 16px;
  }

  &--huge {
    padding: 24px;
  }
}